html{
	font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}
body {
  margin: 0;
  padding: 0;
}
textarea, input, div, fieldset{
	padding: 0;
	margin: 0;
}
fieldset{
	width: 500px;
	padding: 10px;
	margin: 10px auto;
	border-top: 5px solid #3ACFD5;
	border-bottom: 5px solid #08F263;
	border-right: none;
	border-left: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-position: 0 0, 100% 0;
	background-repeat: no-repeat;
	-webkit-background-size: 5px 100%;
	-moz-background-size: 5px 100%;
	background-size: 5px 100%;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzYWNmZDUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhNGVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=),url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzYWNmZDUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhNGVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
	background-image: -webkit-linear-gradient(top, #3acfd5 0%, #08F263 100%), -webkit-linear-gradient(top, #3acfd5 0%, #08F263 100%);
	background-image: -moz-linear-gradient(top, #3acfd5 0%, #08F262 100%), -moz-linear-gradient(top, #3acfd5 0%, #08F263 100%);
	background-image: -o-linear-gradient(top, #3acfd5 0%, #08F263 100%), -o-linear-gradient(top, #3acfd5 0%, #08F263 100%);
	background-image: linear-gradient(to bottom, #3acfd5 0%, #08F263 100%), linear-gradient(to bottom, #39CFD5 0%, #08F263 100%);
}
fieldset > legend{
	font-weight: 600;
	color: #030034;
}
textarea{
	width: 99.8%;
	resize: none;
}
input[type="button"]{
	width: 50%;
	margin-bottom: 10px;
}
.inputs{
	width: 100%;
	margin-bottom: 10px;
}
.task1-field > div{
	margin-bottom: 5px;
}
#text-input1-task3, #text-input2-task3{
	width: 49.16%;
	margin: 0.2%;
}
#text-output-task1{
	margin-bottom: 10px;
}

.t3d{
	width: 50%;
	float: left;
	margin-bottom: 4px;
	text-align: center;
}

#btn2-task2{
	width: 100%;
	margin: 10px 0;
}